{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Pay with Stripe{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="loginbox">
    <form method="post" , class="loginform">
        <button type="submit" , class="googlelogin">
            <!-- <div class="googlelogin"> -->
            <img src="{{ url_for('static', filename='img/Google__G__Logo.svg') }}" , class="googlelogo"
                alt="Log in with ">
            <span class="googletext"> <b class="blue">G</b><b class="red">o</b><b class="yellow">o</b><b
                    class="blue">g</b><b class="green">l</b><b class="red">e</b></span>
        </button>
    </form>
</div>
{% endblock %}