html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #232F3E;
    padding: 1rem;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 88vmin;
    width: 70vw;
}

.toni {
    width: 50vw;
    min-width: 100px;
    max-width: 500px;
    height: auto;
}


h1 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
}

a {
    color: #377ba8;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.2rem;
    justify-content: space-between;
}

.profilepic {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.login {
    background-color: #3e8ed0;
    border-color: transparent;
    color: #fff;
    border-radius: 12px;
}

.navlink {
    text-decoration: none;
}

.navelement {
    height: 2.3em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.signinbutton {
    font-size: large;
    transition: all .3s ease;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.profile {
    max-height: 80%;
    border-radius: 50%;
    margin-left: 0px;
}

.signinbutton:hover {
    transform: scale(109%);

}

nav h1 {
    flex: auto;
    margin: 0;
}

.navdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.content>header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.content>header h2 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}



.button {
    /* background-color: #fff;
    border-color: #dbdbdb; */
    border-width: 3px !important;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-flex;
    line-height: 1.5;
    vertical-align: top;
}

.loginbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    min-width: 100px;
}

.loginform {
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.googlelogin {
    /* width: 100% !important;
    height: 0;
    padding-bottom: 28.1%;
    padding-top: 28.1%; */
    width: 30vw !important;
    height: 0;
    padding-bottom: 8.43vw;
    padding-top: 8.43vw;
    /* width: 100% !important;
    height: 100% !important; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 80px;
}

.blue {
    color: #4285F4
}

.red {
    color: #DB4437
}

.yellow {
    color: #F4B400
}

.green {
    color: #0F9D58
}

.googlelogo {
    width: 8vw;
    max-width: 200px;
    min-width: 20px;
    padding: 0.1em;
    margin-right: 0.5em;
}

.googletext {
    font-size: 4vw;
    padding: 0.1em;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

@media all and (max-width: 599px) and (min-width: 50px) {
    .googletext {
        font-size: 10px;
    }
}