container_commands:
    00_download_augeas:
        command: "sudo dnf install -y augeas-libs"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    10_create_venv:
        command: "sudo python3 -m venv /opt/certbot/"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    20_update_pip:
        command: "sudo /opt/certbot/bin/pip install --upgrade pip"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    30_install_certbot:
        command: "sudo /opt/certbot/bin/pip install certbot-apache"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    40_symlink_certbot:
        command: "sudo ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
