{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <!-- <button type="submit" , class="googlelogin">
                <img src="{{ url_for('static', filename='img/btn_google_dark_pressed_ios.svg') }}" , class="googlelogo"
                    alt="Log in with Google">
                <b class="googletext">Google</b>
            </button> -->
    <input type="image" src="{{ url_for('static', filename='img/btn_google_signin_dark_pressed_web@2x.png') }}"
        alt="Submit Form" value="Log in with Google">
</form>
{% endblock %}