{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Impressum{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 class="impressum_content">Angaben gem&auml;&szlig; &sect; 5 TMG | Information according to &sect; 5 TMG</h2>
<p class="impressum_content">Jan-Eric Nitschke<br />
    Hochschulstra&szlig;e 16<br />
    01069 Dresden</p>

<h2 class="impressum_content">Contact</h2>
<p class="impressum_content">Phone: 017647160530<br />
    E-Mail: janericnitschke@outlook.de</p>

<p class="impressum_content">Source: <a
        href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
</p>
{% endblock %}