html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    margin: 0 auto;
    background: #232F3E;
    height: 100%;
}

.body_wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 88vmin;
    width: 70vw;
}

.homepagepic {
    width: 90vw;
}

h1 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
    font-size: 32px;
}

h2 {
    color: #fff
}

.sitelogo {}

/* a {
    color: #377ba8;
} */

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.2rem;
    justify-content: space-between;
}

.profilepic {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.login {
    background-color: #3e8ed0;
    border-color: transparent;
    color: #fff;
    border-radius: 12px;
}

.donate {
    background-color: #403ed0;
    border-color: transparent;
    color: #fff;
    border-radius: 12px;
}

.navlink {
    text-decoration: none;
}

.navelement {
    height: 2.3em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin: 0.4em;
}

.animatedbutton {
    font-size: large;
    transition: all .3s ease;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
}

.profile {
    max-height: 80%;
    border-radius: 50%;
    margin-left: 0px;
}

.animatedbutton:hover {
    transform: scale(109%);

}


nav h1 {
    flex: auto;
    margin: 0;
}

.navdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content>header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
    color: #FF9900
}


.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}



.button {
    border-width: 3px !important;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-flex;
    line-height: 1.5;
    vertical-align: top;
}

.loginbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    min-width: 100px;
}

.loginform {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.googlelogin {
    width: max(min(30vw, 3000px), 300px) !important;
    height: 0;
    padding-bottom: max(min(8.43vw, 843.0px), 84.3px);
    padding-top: max(min(8.43vw, 843.0px), 84.3px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    ;
    cursor: pointer;
}

.googlelogo {
    width: max(min(8vw, 800px), 80px);
    padding: 0.1em;
    margin-right: max(min(1vw, 100), 10px);
}

.googletext {
    font-size: max(min(4vw, 400px), 40px);
    padding: 0.1em;
}

.blue {
    color: #4285F4
}

.red {
    color: #DB4437
}

.yellow {
    color: #F4B400
}

.green {
    color: #0F9D58
}

.content>h2,
p,
li {
    color: #fff
}


.cookie-consent-container {
    background: #444;
    color: #fff;
    padding: 6px;
    font-size: 13px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.cookie-consent-container button {
    text-decoration: none;
    background: #222;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    padding: 4px 7px;
    margin: 2px 0;
    font-size: 13px;
    font-weight: 700;
    transition: background 0.07s, color 0.07s, border-color 0.07s;
}

.cookie-consent-container button:hover {
    background: #fff;
    color: #222;
}

.reg {
    border: 3px solid #f1f1f1;
    width: max(40vw, 300px);
}

.reg_input[type=text],
.reg_input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.reg_button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
.reg_button:hover {
    opacity: 0.8;
}

.reg_label {
    color: #FF9900;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */
.reg_container {
    padding: 16px;
}

.cancel_link {
    color: inherit;
    text-decoration: inherit;
}


* {
    font-family: Arial, Helvetica, sans-serif;
}

@media all and (max-width: 599px) and (min-width: 50px) {
    nav h1 {
        font-size: 16px;
    }

    .navtext {
        font-size: 16px;
    }

    .sitelogo {}

    .navelement {
        height: 2.3em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        margin: 0.2em;
    }

    .content>h2 {
        font-size: 15px;
    }

}